colorama
twitter
facebook-sdk
requests
bs4
lxml
dateparser
google-api-python-client
google-auth-oauthlib
oauth2
oauth2client
distance
sievelib
gitpython
keyring
click
feedparser
pdfrw
python-crontab
tmdbsimple
imgurpython
python-linkedin-v2
Mastodon.py
medium
pocket-api
pytumblr
telepot
textract
gitterpy
slack_sdk
Pillow
readability-lxml
